@model GoldenGeneration.Web.Models.Footballers.FootballerViewModel
<section class="footballer">
    <div class="text-center">
        <h3>@Model.FirstName</h3>
        <h3>@Model.LastName</h3>
    </div>
</section>