html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    background-color: white;
    overflow: hidden;
}

.container {
    position: relative;
    height: 92%;
    width: 100%;
}

.main {
    padding-right: 7em;
    padding-top: 7em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
}

.polygon {
    top: -5%;
    left: 10%;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    clip-path: polygon(71% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
}

.stylish {
    background-color: hsl(228, 21%, 14%);
}

.page {
    overflow-y: scroll;
    height: 90vh;
}

.hero {
    width: 50%;
    height: 80%;
    top: 20%;
    left: 40%;
    position: absolute;
    background-image: url(../hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.box {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

    .box section {
        border-radius: 10px;
    }

.footballer, .club {
    width: 30%;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
}

.shadow-text {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination a {
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.pagination a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.pagination .disabled {
    visibility: hidden;
}

.pagination .active {
    background-color: #28a745;
    font-weight: bold;
}

.pagination span {
    font-size: 16px;
    margin: 0 10px;
}

h2 {
    text-align: center;
    color: #f5f5f5;
    font-size: 24px;
    margin-bottom: 10px;
}

.dream-team-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('/squad.png');
    background-position: bottom;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.forwards, .midfielders, .defenders {
    display: flex;
    justify-content: space-around;
    margin: 80px;
    margin-bottom: 0;
}

#goalkeeper.position {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 0 auto;
    margin-block: 30px;
}

.position {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background-color: #fff;

}

    .position label {
        display: block;
        text-align: center;

        font-weight: bold;
        color: #333;

        background-color: #f7f7f7;
        border-bottom: 1px solid #ccc;
    }

.position-slot {
    text-align: center;
    background-color: #e0e0e0;
    color: black;
    cursor: pointer;
}

    .position-slot span {
        display: inline-block;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        padding: 2px;
        transition: background-color 0.3s;
    }

    .position-slot:hover span {
        background-color: #0056b3;
    }

.position-select {
    display: none;
}